<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css' />
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Vue JS   -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <!-- Inizio esercizio Todo list -->

    <div id="app" class="container">
        <!-- Header img -->
        <header class="logo">
            <img src="./img/logo.png" alt="Logo Boolean">
        </header>

        <!-- Section new todo -->
        <section class="new-todo">
            <input
               type="text"
               placeholder="Nuovo Todo"
               v-model="newTodo"
               @keyup.enter="addTodo"
            >
            <button @click="addTodo">Aggiungi</button>
        </section>

        <!-- Section todos and remove -->
        <section class="todos-container">
            <ul>
                <li class="todo" v-for="todo in todos">
                    {{todo}}
                    <i class="fas fa-times"></i> 
                </li>
            </ul>
        </section>
    </div>

    <!-- JS -->
    <script src="./js/main.js"></script>

    <!-- Fine esercizio Todo list -->
</body>
</html>